*{
	border: 0px;
	padding: 0px;
}

body{
	margin-top: 40px;
	font-family: "Helvetica", "sans-serif";
	font-size: 25px;
	background-color: #80808017;
	font-size: 15px;
	margin-left: auto;
	margin-right: 50px;
	
	
}
.container{
	margin-top: 20px;
}
.celular{
	margin-top: 100px;
	margin-left:300px;
}

.form{
	background-color: white;
	width: 25%;
	display: block;
	border-radius: 0px;
	margin-left:600px;
	margin-top: -500px;	
	
}
.title{
	font-family: "Snell Roundhand", "cursive";
	margin-left: 100px;
}

.text1{
	margin-left: 65px;
}
.text2{
	margin-left: 30px;
	margin-right: auto;
}
.text3{
	
	margin-left: 140px;
	font-size: 15px;
}
.text3::before{
	content: '';
	background:#efefef;
	display: block;
	height: 2px;
	width: 110px;
	position:relative;
	top: 11px;
	left:-120px;
}
.text3::after{
	content: '';
	background:#efefef;
	display: block;
	height: 2px;
	width: 110px;
	position: relative;
	bottom: 11px;
	left: 30px;

}
.text4{
	margin-top:-5px;
	margin-left: 75px;
	font-size: 15px;
}
.text5{

	margin-left: 45px;
	font-size: 15px;
}

.button1{
	background-color: #1010f5;
	color:white;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:250px;
	height:30px;
	border-radius: 5px;
}
.input-login{
	background-color:#80808017;
	width:250px;
	height:30px;
	margin-left:30px;
	color:#9e8989;
	border-radius: 5px;
	
}
button img {
	height: 18px;
	padding: 0 8px 2px;
}

.button2{
	background-color: #1010f5;
	color:white;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:250px;
	height:30px;
	border-radius: 5px;

}


.form1{
	background-color: white;
	width: 25%;
	display: block;
	border-radius: 0px;
	margin-left:600px;
	margin-top: 00px;	
}
.form2{
	margin-top: 10px;
	border-color: #80808017;
}

